.cm-editor {
  width: 100%;
  height: 100%;
}
.cm-editor .cm-gutter {
  font-family: 'SF Mono', 'Courier New', Courier, monospace;
}
.cm-editor .cm-content {
  font-family: 'SF Mono', 'Courier New', Courier, monospace;
}
